body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 01rem;
    background-color: #515151;
}

header, section, footer {
    margin: 20px;
    padding: 20px;
}
img{
    width: 150px;
    }
header {
    background-color: #515151;
}

footer {
    background-color: #515151;
}

h1, h2 {
    color: #929292;
}

.collapsible {
    background-color: #777;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
  }
  
  .active, .collapsible:hover {
    background-color: #555;
  }
  
  .content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
  }